/*?----------------------------------------------------------------------------------------------------*/

/** Inicio header */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.header-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.header-box1,
.header-box2 {
    background-color: #4d3b64;
    width: 40%;
    height: 10rem;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-box1 {
    background: linear-gradient(135deg, #4d3b64 0%, #6a4e77 100%);
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-box2 {
    background: linear-gradient(45deg, #6a4e77 0%, #4d3b64 100%);
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/** Logotipo y titulo **/

.header-logo {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    background-color: #fff;
    margin-left: 1.2rem;
    cursor: pointer;
    opacity: 0.8;
    transition: all 300ms ease-in-out;
}

.header-logo:hover {
    transform: scale(1.1);
}

.header-title {
    color: #2f143d;
    font-size: 3.5rem;
    font-family: Impact, sans-serif;
    margin-left: 1.1rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
}

/** Fin logotipo **/

/** Links **/

.header-link {
    color: #eee;
    text-decoration: none;
    font-size: 3.5rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 0.1rem;
    margin: 2rem;
    transition: all 300ms;
    cursor: pointer;
}

.header-link:hover {
    color: #2f143d;
}

.header-link-activo {
    color: #2f143d;
}

.header-link:nth-last-child(1) {
    margin-right: 5rem;
}

.header-link.active {
    color: #2f143d;
}

/** Fin header */

/** Inicio responsive */

@media (max-width: 1100px) {
    .header-title {
        display: none;
    }
}

@media (max-width: 730px) {
    .header-box1 {
        display: none;
    }

    .header-box2 {
        width: 80%;
        border-bottom-left-radius: 3rem;
        border-top-left-radius: 3rem;
        justify-content: center;
    }

    .header-link:nth-last-child(1) {
        margin-right: 2rem;
    }
}

@media (max-width: 550px) {
    .header-link {
        font-size: 3rem;
    }

    .header-box1,
    .header-box2 {
        height: 8rem;
    }
}

@media (max-width: 470px) {
    .header-link {
        font-size: 2.3rem;
    }

    .header-box1,
    .header-box2 {
        height: 6rem;
    }
}

/** Fin responsive */

/*?----------------------------------------------------------------------------------------------------*/